html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
}

#app {
    position: relative;
}

.star {
    position: absolute;
    background: cyan;
}
